.weather-app {
  width: 480px;
  margin: 0 auto;
  background: #041121;
  color: #fff;
  height: 680px;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #414a59;
  }

  &__logo {
    padding: 0 5px;
  }

  &__search {
    width: 100%;
    margin: 0 5px;
    $inppadd: 10px;

    #google-place-auto-complete {
      width: calc(100% - (#{$inppadd} * 2));
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 3px $inppadd;
      color: #1d1d1d;

      &:focus {
        outline: none;
      }
    }
  }

  &__actions {
    order: 3;
    display: inline-flex;

    &-add,
    &-delete{
      float: left;
      padding: 0 5px;
    }
  }
}