{{#each this}}
    <div class="weather-list__item"
         data-name="{{formatted_address}}"
         data-lng="{{geometry.location.lng}}"
         data-lat="{{geometry.location.lat}}">
        {{ formatted_address }}
    </div>
{{/each}}