{{#each this}}
    <div class="weather-item">
        <div class="weather-item__icon">
            <canvas id="{{this.currently.icon}}" width="40" height="40"></canvas>
        </div>
        <div class="weather-item__temperature">{{this.currently.temperature}}&deg;</div>
        <div class="weather-item__info">
            <div class="weather-item__city">{{this.name}}</div>
            <div class="weather-item__summary">{{this.currently.summary}}</div>
        </div>
    </div>
{{/each}}
