<header>
    <div class="weather-app__header">
        <div class="hamburger">
            <i class="fa fa-navicon"></i>
        </div>
        <div class="search"></div>
        <div class="navigation">
            <div class="navigation__icon navigation__icon-add">
                <i class="fa fa-plus"></i>
            </div>
            <div class="navigation__icon navigation__icon-delete">
                <i class="fa fa-trash-o"></i>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="weather-app__content">

    </div>
</main>

<footer>
    <div class="weather-app__footer"></div>
</footer>


<!-- TODO: temporary for see the results -->
<!--<canvas id="icon1" width="128" height="128"></canvas>-->
<!--<i class="fa fa-wifi"></i>-->