<div class="weather-app">
    <header class="weather-app__header">
        <div class="weather-app__logo">
            <i class="fa fa-navicon"></i>
        </div>
        <div class="weather-app__search"></div>
        <div class="weather-app__actions">
            <div class="weather-app__actions-add">
                <i class="fa fa-plus"></i>
            </div>
            <div class="weather-app__actions-clear">
                <i class="fa fa-trash-o"></i>
            </div>
        </div>
    </header>
    <div class="weather-app__content"></div>
    <footer class="weather-app__footer"></footer>
</div>